<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>My first chart</title>
  </head>
  <body>
    <h1>My first chart</h1>

   <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark"></nav> -->

    <div class="col-8 offset-2 my-5">
        <div class="card">
            <div class="card-body">
                <h5>Python to JS ver 5</h5>
                <hr>
                <canvas id="myChart" width="100" height="40"></canvas>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    chartExists = false
    function fetchit(url) {
                return fetch(url)
                .then(res => res.json())
                .then(json => (json.result))
                    }
    fetchit('/getdata/').then(res => console.log(res))
    
    // function charting() {

    //             towns = []
    //             heights= []
    //              // talan szebb lenne ha a fetch kulon allo funkcio lenne es ay adatot returnolja
    //                 ///eyt feltudja használni a chartMain. Ez a fetch hiba kezelése miatt is fontos


    //             if (chartExists != false) {chartExists = true}
    //             else {chartExists == false}

    //             res = fetchit()
                
    //             Object.keys(res).forEach(val  => towns.push(val) )
    //             Object.values(res).forEach(val  => heights.push(val) )

    //             function chartMain() {
    //                 function updateChart(chart) {
    //                                     chart.data.labels = towns
    //                                     chart.data.datasets[0].data = heights
    //                                     chart.update()
    //                                     console.log('chart is updated')
    //                                 }


    //               var ctx = document.getElementById('myChart').getContext('2d');
    //               if (chartExists == false) {
    //               console.log('chart created')
    //               chartExists = true
    //                   chartOne = new Chart(ctx, {
    //                       type: 'bar',
    //                       data: {
    //                           labels: towns,

    //                           datasets: [{
    //                               label: 'heights in these towns',
    //                               data: heights,

    //                               backgroundColor: [
    //                                   'rgba(255, 99, 132, 0.2)',
    //                                   'rgba(54, 162, 235, 0.2)',
    //                                   'rgba(255, 99, 132, 0.2)',
    //                                   'rgba(54, 162, 235, 0.2)',
    //                                   'rgba(255, 99, 132, 0.2)',
    //                                   'rgba(54, 162, 235, 0.2)',
    //                                   'rgba(255, 99, 132, 0.2)',
    //                                   'rgba(54, 162, 235, 0.2)',


    //                               ],
    //                               borderColor: [
    //                                   'rgba(255, 99, 132, 1)',
    //                                   'rgba(54, 162, 235, 1)',
    //                                   'rgba(255, 99, 132, 1)',
    //                                   'rgba(54, 162, 235, 1)',
    //                                   'rgba(255, 99, 132, 1)',
    //                                   'rgba(54, 162, 235, 1)',
    //                                   'rgba(255, 99, 132, 1)',
    //                                   'rgba(54, 162, 235, 1)',

    //                               ],
    //                               borderWidth: 1
    //                           }]
    //                       },
    //                       options: { scales: {  y: { beginAtZero: true }, animation: false,},
    //                       }


    //                      }



    //                     ) }

    //                     else {
    //                         updateChart(chartOne)
                           
    //                                    }
    //                        }
    //                     chartMain()
              
    //                 }// ez a harom a vege

    //     charting()
    //     setInterval(charting, 10000)
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>


